# Paymob Configuration
PAYMOB_PUBLIC_KEY=
PAYMOB_API_KEY=
PAYMOB_CARD_INTEGRATION_ID=
PAYMOB_WALLET_INTEGRATION_ID=
PAYMOB_HMAC_SECRET=

# Supabase
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
